body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.mains {
  display: flex;
  align-items: center;
  background-color: rgb(78, 71, 193);
  width: 2200px;
  height: 200px;
  padding: 0px 256px;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.sans {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: white;
}
.gma {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.icoo {
  margin: 20px;
}
.git {
  margin: 5px;
}
