.something {
  background: #bdd1df;
  opacity: 0.75;
  width: 87px;
  height: 4.13px;
}
.title {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.middle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40.635px;
    line-height: 50px;
    text-align: center;
}
.middle2 {
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18.2857px;
    line-height: 28px;
    text-align: center;
}