.cuda {
  width: 120px;
  height: 40px;
  left: 5%;
  position: relative;
}
.category {
  color: white;
  display: flex;
  gap: 40px;
}
.header1 {
  gap: 20%;
}
.names {
    font-family: 'Titillium Web', sans-serif;
}
