.manaibag {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42.1529px;
  line-height: 51px;
  text-align: center;
  color: white;
}
.button1 {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  background: orange;
  width: 294px;
  height: 70px;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 6px;
}
.header2 {
  display: flex;
  flex-direction: column;
}