.cuda {
  width: 120px;
  height: 40px;
  left: 1%;
  position: relative;
}
.category {
  color: white;
  display: flex;
  gap: 40px;
}
.header1 {
  gap: 40%;
}
.names {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}